@import url('vendor/normalize.css');
@import url('vendor/skeleton.css');
* {
    // margin: 0 !important;
    // padding: 0;
    box-sizing: border-box;
    border: 1px dotted lightblue;
}
$green: #49A397;
$dark-blue: #082A56;
$blue: #005FDD;
// $blue: #0A2850;
$gray: #404247;
$orange: #AC6C22;
$red: #5C0B1D;
$lighter-blue: #103079;
body {
    font-family: Roboto, 'Lato', sans-serif;
    // background-color:#dedede;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        color: $blue;
        text-decoration: none;
    }
}
header {
    display: grid;
    justify-content: center;
    background-color: $blue;
    color: #fff;
    padding: 10px 10px 20px 10px;
    .title {
        font-size: 2rem;
        text-align: center;
    }
    .main-heading {
        font-size: 3rem;
    }
    #search {
        width: 100%;
        margin-bottom: 0;
        color: $dark-blue;
        border: #fff;
    }
}